body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.pizzaimg{
    width:285px;
    height:250px;
    border-radius: 50px;
}
.card{
 border: 2px solid green;
 border-radius: 50px;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid green;
  border-radius: 7px;
}

.form-container input,
.form-container button {
  margin: 5px;
}
input{
  text-align: center;
  border: 2px solid green;
  
  border-radius: 7px;
}





